:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff; 
    --fg-color: #021b27; 
    --fg-color-sub: #021b27;
    --fg-color-dark: #000000; 
    --fg-color-body: #46535a;
    --fg-color-title-sm: #7992a1; 

}

[data-theme='dark'] {
    --bg-color: #021b27;
    --bg-color-cv: #000000;
    --fg-color: #f1f1f1;
    --fg-color-sub: #f1f1f1;
    --fg-color-dark: #ffffff;
    --fg-color-body: #f1f1f1;
    --fg-color-title-sm: #7992a1;
}
